
body{
	
	background-color: Brown;
	background-image: url("images/back.jpg");
	background-repeat: no-repeat;
	
}


p{	
	margin-top: 160px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: -5px;
	text-align: center;
    font-family: kunstler script;
	color:#873600  ;
	text-shadow: 5px 5px #E59866;
	font-size: 125pt;
	font-weight: bolder;
	
	}
	p.p{
		font-family: arial;
		font-size: 20pt;
	}
	

	p.w{
		
		margin-top: 80px;
		margin-right: 600px;
		margin-left: 600px;
		font-family: arial;
		color:Black;
		border-style: solid;
		font-size: 20pt;
		text-shadow: none;
		border-radius: 5px;
	}

	
	a{	
			text-decoration: none;

	}
	p.w:hover{
		color:#E59866;
		 background-color: Black;
		 border-color: Black;
	}

	
	p.one{
		font-family: arial;
		font-size: 20pt;
		margin-top: -75px; 
		text-shadow: none;
		border-style: solid;
		border-radius: 5px;
		margin-right: 725px;
		margin-left: 475px;
		color: Black;

	}

	img.align-center {  display: block;  margin: 0px auto;} 
	img.medium {  width: 250px;  height: 250px; opacity: 1;} 
	p.one{
			margin-top: 95px;
	}
	p.one:hover{

		color:#E59866;
		 background-color: Black;
		 border-color: Black;
	}	

	p.two{
		font-family: arial;
		font-size: 20pt;
		margin-top: -37px; 
		text-shadow: none;
		border-style: solid;
		border-radius: 5px;
		margin-right: 500px;
		margin-left: 700px;
		color: Black;}

	p.two:hover{
		color:#E59866;
		 background-color: Black;
		 border-color: Black;
	}	

	
	
body.about_body{
	background-color: White;
	background-image: url("images/woody.jpg");
	background-repeat: repeat;
}
img.im{
	border-radius: 40px;
	border: dashed;
	border-color: #2F4F4F;
	 margin-top: -150px;
	 margin-left: -1050px;
	 width: 200px;  
	 height: 200px;
}
h1{ 
	background-image: url("images/grid.png");
	border-radius: 20px;
	padding-top: 20px;
	padding-left: 20px;
	width: 400px;  
	 height: 400px;
	background-repeat: no-repeat;
	margin-top: -150px;
	margin-left: 300px;
	font-family: courier new;
	letter-spacing: 0.01em;
	color:#2F4F4F;
	font-size: 12pt;
	text-shadow: none;

}
h1.like{ 
	background-image: url("images/grid.png");
	
	width: 400px;  
	 height: 400px;
	background-repeat: no-repeat;
	margin-top: -430px;
	margin-left: 750px;
	font-family: courier new;
	letter-spacing: 0.01em;
	color:#CD5C5C;
	font-size: 12pt;
	text-shadow: none;

}

